/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255,0.9);
}

.container{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.home-title{
    font-size: 25px;
    font-weight: 100;
}

.word-cases{
    font-size: 14px;
    margin-top: 20px;
    line-height: 0.5;
}

.your-local{
    line-height: 1.2;  
}

.local{
    font-size: 13px;
    opacity: 0.5;
}